* {
	
	font-family: 'Roboto Mono', monospace;
}

h1,h2{
	font-family: 'Montserrat', sans-serif;
	
}

img{
	height: 250px;
	width: 250px;
	border-radius: 500px;
}


#home{
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.jumbotron{
	background-color: transparent;
}

#gallery{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height:75vh;
	background-color: #28a745;
	border-radius:6px ;
}
ul{
	list-style: none;
	padding:0;
}
h2{
	color: #ECD662;

} 

.tools{
	padding:35px;
	height:200px;
	border: 5px solid #0B4619;
	margin: 20px;
	width: 75%;
}
html{
	scroll-behavior: smooth;
}

li{
	color: #FFF9CA;
}